/*
 * Based on the CSS found at github.com/kristenmthayer/Angular2Codeschool
 * so far it looks like... shit
 */

body {
  background: -webkit-linear-gradient(#0d263c,#030714) no-repeat fixed;
  background: linear-gradient(#0d263c,#030714) no-repeat fixed;
  color: #66d9f7;
  margin: 40px;
}

img {
   height: 10em;
   width: 10em;
}

header h1 {
  color: #66d9f7;
}

h2 {
  font-weight: 400;
  color: #FFF;
  font-size: 22px;
}

h3 {
  font-size: 20px;
  text-transform: uppercase;
}

button {
  margin: 5px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 30px;
}

li:last-child {
  margin-bottom: 0;
}

.card {
  background: #24262c;
  font-size: 18px;
}

.container {
  max-width: 900px;
}

.date {
  color: #9397d8;
}

.description {
  font-weight: bold;
  color: #9397d8;
}

.featured {
  background: #57595D;
  -webkit-border-image: -webkit-linear-gradient(right, #818fd8 0%,
    #cbb4e2 50%, #a6f2f5 100%);
  -o-border-image: linear-gradient(to left, #818fd8 0%, #cbb4e2 50%,
    #a6f2f5 100%);
  border-image: linear-gradient(to left, #818fd8 0%, #cbb4e2 50%, #a6f2f5 100%);
  border-image-slice: 1;
}

.number {
  width: 25px;
  padding-left: 5px;
}

.panel-body {
  display: table;
  width: 100%;
}

.photo {
  float: left;
  margin-right: 30px;
}

.price {
  text-align: right;
}

.product-info {
  margin-top: 20px;
  width: 80%;
  vertical-align: middle;
}

.select-quantity {
  margin: 10px;
  color: GREEN;
}

.stock {
  padding: 20px;
  margin-bottom: 30px;
}

/* Below here: not used yet */

.button {
  background: #fd79fc;
  border-radius: 3px;
  border: 0;
  color: #ffffff;
  width: 120px;
}

.button-cancel {
  background: none;
  border: 0;
  color: #fd79fc;
  text-decoration: underline;
  width: 120px;
}

.new-image {
  height: 160px;
}

.price-total {
  background:  #9179b7;
  float: right;
  margin: 30px 0;
  padding: 20px 50px;
  text-transform: uppercase;
}

.price-total h3, .price-total p {
  display: inline-block;
  margin: 0;
}

.price-total p {
  color: #362751;
  font-size: 18px;
  font-weight: bold;
}

.price-total h3 {
  font-size: 18px;
  margin-right: 60px;
}

.race-info {
  display: table-cell;
  vertical-align: middle;
}

.race-info td:last-child {
  padding: 0 20px;
}

.race-info, .race-info tbody, .race-info tr, .race-info td {
  width: 100%;
}

.race-info tbody {
  display: inline-block;
}

.status {
  color: #fd79fc;
  text-align: center;
}

.unavailble {
  background: #505050;
}

.unavailble .button {
  background: #707070;
  color: #aeaeae;
}
