<p class="card stock">There are {{totalCarParts()}} total parts in stock.</p>
<ul>
  <li class="card" *ngFor="let carPart of carParts">
    <div class="panel-body">
      <div class="photo">
        <img [src]="carPart.image" />
      </div>
      <table class="product-info">
        <tr>
          <td>
            <h2>{{carPart.name | uppercase}}</h2>
            <p class="description">{{carPart.description}}</p>
            <p *ngIf="carPart.inStock > 0">
              {{carPart.inStock}} in Stock
            </p>
            <p *ngIf="carPart.inStock === 0">
              Out of Stock
            </p>
          </td>
          <td>
            <p class="price">{{carPart.price | currency:'EUR':true}}</p>
          </td>
        </tr>
      </table>
    </div>
  </li>
</ul>
